@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rosehot';
    src: url("../public/font/Rosehot.ttf");

    font-weight: normal;
    font-style: normal;
}

.font-custom {
    font-family: 'Rosehot', sans-serif;
    /* Additional styling if needed */
}
